PORT=47309

DB_HOST=45.122.49.250
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sml
DB_NAME=stpt
DB_IMAGES_NAME=iampcoffee_images
PROVIDER=DATA

ONEPAY_BASE_URL=https://bcel.la:8093/
ONEPAY_USERNAME=santiparbapi
ONEPAY_PASSWORD=112233
ONEPAY_MCID=mch5abc9074e3838
ONEPAY_MERCHANT_NAME=SANTIPARB CONSTRUCTION
ONEPAY_MCC=5039
ONEPAY_SHOPCODE=83874b9e27
ONEPAY_ACCOUNTNO=010110001291676001
ONEPAY_QR_TRANSFER_PASS_BOOK_CODE=02
SELL_SUMMARY_CURRENCY_CODES=BTH,KIP,USD,CNY